apiVersion: v2
name: hami
version: 2.5.0
kubeVersion: ">= 1.16.0"
description: Heterogeneous AI Computing Virtualization Middleware
keywords:
  - vgpu
  - gpu
type: application
maintainers:
  - name: limengxuan
    email: limengxuan@4paradigm.com
  - name: zhangxiao
    email: xiaozhang0210@hotmail.com
appVersion: "2.5.0"

