apiVersion: v2
name: hami
version: 2.5.0
kubeVersion: ">= 1.18.0-0"
description: Heterogeneous AI Computing Virtualization Middleware
keywords:
  - vgpu
  - gpu
type: application
maintainers:
  - name: limengxuan
    email: archlitchi@gmail.com
  - name: zhangxiao
    email: xiaozhang0210@hotmail.com
appVersion: "v2.5.0"

