apiVersion: v2
name: hami
version: v2.3
kubeVersion: ">= 1.16.0"
description: Heterogeneous AI Computing Virtualization Middleware
keywords:
  - vgpu
  - gpu
type: application
maintainers:
  - name: limengxuan
    email: limengxuan@4paradigm.com
appVersion: v2.3

