apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hami-vgpu.scheduler" . }}
  labels:
    app.kubernetes.io/component: hami-scheduler
    {{- include "hami-vgpu.labels" . | nindent 4 }}
    {{- with .Values.global.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- if .Values.global.annotations }}
  annotations: {{ toYaml .Values.global.annotations | nindent 4}}
  {{- end }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: hami-scheduler
      {{- include "hami-vgpu.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: hami-scheduler
        {{- include "hami-vgpu.selectorLabels" . | nindent 8 }}
        hami.io/webhook: ignore
      {{- if .Values.scheduler.podAnnotations }}
      annotations: {{ toYaml .Values.scheduler.podAnnotations | nindent 8 }}
      {{- end }}
    spec:
      {{- include "hami-vgpu.imagePullSecrets" . | nindent 6}}
      serviceAccountName: {{ include "hami-vgpu.scheduler" . }}
      priorityClassName: system-node-critical
      containers:
      {{- if .Values.scheduler.kubeScheduler.enabled }}
        - name: kube-scheduler
          image: {{ .Values.scheduler.kubeScheduler.image }}:{{ .Values.scheduler.kubeScheduler.imageTag }}
          imagePullPolicy: {{ .Values.scheduler.kubeScheduler.imagePullPolicy | quote }}
          command:
            - kube-scheduler
            {{- if ge (.Values.scheduler.kubeScheduler.imageTag | substr 3 5| atoi) 22}}
            {{- range .Values.scheduler.kubeScheduler.extraNewArgs }}
            - {{ . }}
            {{- end }}
            {{- else }}
            - --scheduler-name={{ .Values.schedulerName }}
            {{- range .Values.scheduler.kubeScheduler.extraArgs }}
            - {{ . }}
            {{- end }}
            {{- end }}
            - --leader-elect={{ .Values.scheduler.leaderElect }}
            - --leader-elect-resource-name={{ .Values.schedulerName }}
            - --leader-elect-resource-namespace={{ .Release.Namespace }}
          volumeMounts:
            - name: scheduler-config
              mountPath: /config
        {{- end }}      
        - name: vgpu-scheduler-extender
          image: {{ .Values.scheduler.extender.image }}:{{ .Values.version }}
          imagePullPolicy: {{ .Values.scheduler.extender.imagePullPolicy | quote }}
          command:
            - scheduler
            - --resource-name={{ .Values.resourceName }}
            - --resource-mem={{ .Values.resourceMem }}
            - --resource-cores={{ .Values.resourceCores }}
            - --resource-mem-percentage={{ .Values.resourceMemPercentage }}
            - --resource-priority={{ .Values.resourcePriority }}
            - --http_bind=0.0.0.0:443
            - --cert_file=/tls/tls.crt
            - --key_file=/tls/tls.key
            - --scheduler-name={{ .Values.schedulerName }}
            - --metrics-bind-address={{ .Values.scheduler.metricsBindAddress }}
            - --default-mem={{ .Values.scheduler.defaultMem }}
            - --default-gpu={{ .Values.scheduler.defaultGPUNum }}
            - --default-cores={{ .Values.scheduler.defaultCores }}
            - --iluvatar-memory={{ .Values.iluvatarResourceMem }}
            - --iluvatar-cores={{ .Values.iluvatarResourceCore }}
            - --cambricon-mlu-name={{ .Values.mluResourceName }}
            - --cambricon-mlu-memory={{ .Values.mluResourceMem }}
            - --cambricon-mlu-cores={{ .Values.mluResourceCores }}
            - --ascend-name={{ .Values.ascendResourceName }}
            - --ascend-memory={{ .Values.ascendResourceMem }}
            {{- range .Values.scheduler.extender.extraArgs }}
            - {{ . }}
            {{- end }}
          ports:
            - name: http
              containerPort: 443
              protocol: TCP
          volumeMounts:
            - name: tls-config
              mountPath: /tls
      volumes:
        - name: tls-config
          secret:
            secretName: {{ template "hami-vgpu.scheduler.tls" . }}
        {{- if .Values.scheduler.kubeScheduler.enabled }}
        - name: scheduler-config
          configMap:
            {{- if ge (.Values.scheduler.kubeScheduler.imageTag | substr 3 5| atoi) 22 }}
            name: {{ template "hami-vgpu.scheduler" . }}-newversion
            {{- else }}
            name: {{ template "hami-vgpu.scheduler" . }}
            {{- end }}
        {{- end }}
      {{- if .Values.scheduler.nodeSelector }}
      nodeSelector: {{ toYaml .Values.scheduler.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.scheduler.tolerations }}
      tolerations: {{ toYaml .Values.scheduler.tolerations | nindent 8 }}
      {{- end }}
      {{- if .Values.scheduler.nodeName }}
      nodeName: {{ .Values.scheduler.nodeName }}
      {{- end }}
