name: Call e2e test

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
permissions: write-all

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: e2e test
        # https://github.com/actions/virtual-environments/issues/709
        run: |
          echo "Need to add e2e test"