name: Call Release webiste

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
permissions: write-all

jobs:
  build-website:
    runs-on: ubuntu-latest
    steps:
      - name: release hami website
        # https://github.com/actions/virtual-environments/issues/709
        run: |
          echo "Need to publish hami website"