name: Chart Lint

on:
  push:
<<<<<<< HEAD
    # Exclude branches created by Dependabot to avoid triggering current workflow
    # for PRs initiated by Dependabot.
    branches-ignore:
      - 'dependabot/**'
  pull_request:
    paths:
      - "charts/**"
=======
    branches: ["master","dev"]
>>>>>>> dd7deeb (add dev branch ci & remove unused binary (#487))

jobs:
  chart-lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.7.1
      - name: Lint Chart
        run: |
          make lint_chart
      - name: Check chart version
        run: bash ./hack/verify-chart-version.sh

